/* ШРИФТЫ */

/* PT Sans */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

/* СТРАНИЦЫ */

.page-header,
.main-container,
.page-footer {
  width: 1200px;
  margin: 0 auto;
}

.main-index {
  text-align: center;
}

/* СКРЫТЫЕ ЭЛЕМЕНТЫ */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ЗАГАЛОВКИ */

.heading-small {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.heading-normal {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.heading-big {
  margin: 0;
  padding: 0;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  text-transform: capitalize;
}

/* МЕНЮ НАВИГАЦИИ */
.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-logo {
  display: block;
  max-width: 100%;
  margin-left: 70px;
  margin-right: 30px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 450px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-link {
  display: block;
  padding: 20px 17px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-transform: capitalize;
  text-decoration: none;
  color: #000000;
}

.navigation-link:nth-child(4n) {
  margin-right: 0;
}

.current-site-page {
  text-decoration: underline;
}

/* МЕНЮ ПОЛЬЗОВАТЕЛЯ */

.user-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  max-width: 350px;
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style-type: none;
}

.user-link {
  display: block;
  min-width: 36px;
  min-height: 36px;
  margin: 0 auto;
  margin-right: 5px;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  outline: #000000 1px solid;
}

/* БЛОК ПРОМО */
.promo {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.promo-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 485px;
  margin-bottom: 63px;
  background: #82B3D3 url("../images/background-promo.jpeg") no-repeat;
  background-size: 100% auto;
}

.promo-text {
  margin: 0;
  margin-bottom: 31px;
  padding: 0;
}

/* БЛОК ПРЕИМУЩЕСТВ */
.advantages {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.advantages-main-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  list-style-type: none;
}

.advantages-sub-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  color: #000000;
  background-color: #ffffff;
  list-style-type: none;
}

.advantages-main-item,
.advantages-sub-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  min-height: 384px;
}

.blue-block {
  width: 1200px;
  color: #ffffff;
  background-color: #82B3D3;
}

.blue-block-main {
  display: flex;
}

.advantages-text {
  margin: 0;
  margin-bottom: 90px;
  padding: 0;
}

.blue-block-text {
  align-self: center;
}

.advantages h3,
.advantages h4 {
  margin-bottom: 30px;
  padding: 0 85px;
}

.advantages-number {
  margin: 0;
  margin-bottom: 30px;
  padding: 0 85px;
}

.advantages-description {
  margin: 0;
  padding: 0 85px;
}

.blue-block-image-start {
  order: -1;
}

.white-blue-block {
  background-color: rgba(131, 179, 211, 0.12);
}

.grey-blue-block {
  background-color: rgba(131, 179, 211, 0.2);
}

/* БЛОК ПОИСКА ГОСТИННИЦ */
.hotel-search-title {
  margin-bottom: 29px;
}

.hotel-search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 417px;
}

.hotel-search-text {
  margin: 0;
  margin-bottom: 56px;
  padding: 0;
}

/* БЛОК ПОДПИСКИ */
.subscription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 411px;
  text-align: center;
}

.subscription-index {
  color: #ffffff;
  background: #82B3D3 url("../images/background-subscription.jpeg") no-repeat;
  background-size: 100% auto;
}

.subscription-title {
  margin-bottom: 29px;
}

.subscription-description {
  margin: 0;
  margin-bottom: 46px;
  padding: 0;
}

.subscription-input {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background-color: #F2F2F2;
}

/* ПОДВАЛ */

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 120px;
  margin: 0 auto;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  width: 220px;
  margin: 45px 0 35px 70px;
  padding: 0;
  list-style-type: none;
}

.footer-social-link {
  display: block;
  min-width: 36px;
  min-height: 36px;
  margin-right: 5px;
  padding: 0;
  outline: #000000 1px solid;
}

.footer-phone {
  margin: 45px 0 35px 0;
}

.phone {
  display: block;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.footer-htmlacademy-logo {
  margin: 45px 70px 35px 0;
}

.htmlacademy-logo {
  display: block;
  width: 100%;
}

/* ХЛЕБНЫЕ КРОШКИ */
.breadcrumps {
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 16px;
  list-style-type: none;
}

/* ФИЛЬТРАЦИЯ КАТАЛОГА ГОСТИНИЦ */
.head-inner-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 403px;
  text-transform: capitalize;
  color: #ffffff;
  background: #82B3D3 url("../images/background-catalog.jpeg") no-repeat;
  background-size: 100% auto;
}

.catalog-filter {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  padding: 0;
}

.catalog-filter-group {
  border: none;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.hotel-filter-sorting {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}

.filter-left,
.filter-right {
  display: flex;
}

.group-buttons {
  display: flex;
  flex-direction: column;
}

.group-infrastructure {
  width: 160px;
  margin-right: 70px;
}

.group-type-house {
  width: 180px;
}

.group-price {
  width: 300px;
  margin-right: 70px;
}

.group-buttons {
  width: 170px;
}

/* СОРТИРОВКА КАТАЛОГА ГОСТИНИЦ */
.sorting-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
  margin: 50px 72px 56px 72px;
  padding: 0;
}

.search-result {
  margin: 0;
  margin-right: 191px;
  padding: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.view-control-list {
  display: flex;
  margin: 0;
  margin-left: 78px;
  padding: 0;
  list-style-type: none;
}

/* КАТАЛОГ ГОСТИНИЦ */
.hotel-card-rating {
  background-color: #F2F2F2;
  text-align: center;
}

.hotel-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 72px 96px 72px;
  padding: 0;
  list-style-type: none;
}

.hotel-card {
  width: 340px;
  margin-right: 18px;
  padding: 0;
}

.hotel-card:nth-child(3n) {
  margin-right: 0;
}

.hotel-card-content {
  margin: 20px 20px;
}

/* ПАГИНАЦИЯ */
.pagination-amount-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 72px 25px 72px;
  padding: 0;
}

.pagination {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item {
  margin-right: 8px;
  text-align: center;
  background-color: #82B3D3;
  border-radius: 4px;
}

.pagination-link {
  display: block;
  width: 60px;
  min-height: 60px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-decoration: none;
  color: #ffffff;
}

.label-amount {
  margin-right: 51px;
}

.current-catalog-page {
  background-color: #F2F2F2;
}

/* КНОПКИ */
.button {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82B3D3;
}

.reset {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  background-color: transparent;
  border: none;
}

.add {
  background-color: #7DB54F;
}

.subscribe {
  font-size: 20px;
  line-height: 36px;
}

.button-view {
  display: block;
  min-width: 36px;
  min-height: 36px;
  margin: 0;
  margin-right: 5px;
  padding: 0;
  outline: #000000 1px solid;
}

/* КНОПКИ-ССЫЛКИ */
.button-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
}

.here {
  display: block;
  width: 160px;
  box-sizing: border-box;
  padding: 9px 15px 8px 15px;
  margin: 0;
  margin-right: 70px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  border-radius: 4px;
}

.search {
  display: block;
  width: 544px;
  padding: 12px 15px;
  margin: 0;
  font-size: 20px;
  line-height: 36px;
}

/* СЕЛЕКТЫ */
.label-amount,
.select-control-amount,
.hotel-sorting-select {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
}
