
/* ШРИФТЫ */

/* PT Sans */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

.main-index {
  text-align: center;
}

/* СКРЫТЫЕ ЭЛЕМЕНТЫ */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ЗАГАЛОВКИ */
.heading {
  font-weight: 700;
  text-transform: uppercase;
}

.header-small {
  font-size: 24px;
  line-height: 28px;
}

.header-normal {
  font-size: 30px;
  line-height: 36px;
}

.header-big {
  font-size: 60px;
  line-height: 78px;
  text-transform: capitalize;
}

/* КНОПКИ */
.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #82B3D3;
}

.reset {
  font-weight: 400;
  border: none;
}

.add {
  background-color: #7DB54F;
}

.subscribe {
  font-size: 20px;
  line-height: 36px;
}

/* КНОПКИ-ССЫЛКИ */
.button-link {
  font-weight: 700;
  color:#ffffff;
  background-color: #756157;
  text-transform: uppercase;
  text-decoration: none;
}

.here {
  font-size: 16px;
  line-height: 20px;
}

.search {
  font-size: 20px;
  line-height: 36px;
}

/* МЕНЮ НАВИГАЦИИ */
.navigation {
  font-weight: 700;
  text-transform: capitalize;
}

.navigation-link {
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  text-decoration: none;
}

.current-site-page {
  text-decoration: underline;
}

/* МЕНЮ ПОЛЬЗОВАТЕЛЯ */
.user-link {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

/* БЛОК ПРОМО */
.promo {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

/* БЛОК ПРЕИМУЩЕСТВ */
.advantages-main-list {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.blue-block {
  color: #ffffff;
  background-color: #82B3D3;
}

.advantages-sub-list {
  color: #000000;
  background-color: #ffffff;
}

.white-blue-block {
  background-color: rgba(131, 179, 211, 0.12);
}

.grey-blue-block {
  background-color: rgba(131, 179, 211, 0.2);
}

/* БЛОК ПОДПИСКИ */
.subscription {
  text-align: center;
}

.subscription-index {
  color: #ffffff;
  background: #82B3D3 url("/images/background-subscription.jpeg") no-repeat;
}

.subscription-input {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background-color: #F2F2F2;
}

/* ХЛЕБНЫЕ КРОШКИ */
.breadcrumps {
  font-size: 16px;
}

/* ФИЛЬТРАЦИЯ КАТАЛОГА ГОСТИНИЦ */
.head-inner-container {
  color: #ffffff;
  text-transform: capitalize;
  background: #82B3D3 url("/images/background-catalog.jpeg") no-repeat;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.hotel-filter-sorting {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

/* СОРТИРОВКА КАТАЛОГА ГОСТИНИЦ */
.search-result {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

/* .select-control-sorting {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
} */

/* КАТАЛОГ ГОСТИНИЦ */
.hotel-card-rating {
  background-color: #F2F2F2;
  text-align: center;
}

/* ПАГИНАЦИЯ */
.pagination-item {
  text-align: center;
  background-color: #82B3D3;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
}

.current-catalog-page {
  background-color: #F2F2F2;
}

/* .select-control-amount {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ff0000;
} */

/* ПОДВАЛ */
.phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
